body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .dp img{
            width: 20dvh;
            border-radius: 60px;
        }
        .container{
            width: 60vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }
        .setup{
            margin: auto;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
        }
        .trophy{
            width: 4vh;
            margin: 0px;

        }
        .achive{
            margin: 20px;
            font-weight: 900;
        }
        .telegram{
            background-color: blue;
            padding: 10px;
            border-radius: 20px;
        }
        .telegrams{
            background-color: blue;
            padding: 10px;
            margin: 1rem;
        }
        .telegrams:hover{
            background-color: darkblue;
        }
        .telegrams a{
            color: white;
            list-style: none;
            text-decoration: none;  
        }
        .telegram a{
            color: white;
            list-style: none;
            text-decoration: none;
        }
        .subs{
            font-family: 'Courier New', Courier, monospace;
            opacity: 0.5;
            margin: 3%;
              }
